body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-banner {
    display: flex;
    flex-direction: column;
    background-image: url(./images/banner-flower.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
}
.title {
    text-align: center;
    color: white;
    font-size: 56px;

}

.title h1 {
 -webkit-text-stroke: 6px black;
 paint-order: stroke fill;
 letter-spacing: -4px;
 font-weight: 900;
 margin-bottom: 0;
}

.subheadings {
    
    display: flex;
    justify-content: center;
    gap: 400px;
    color: white;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    font-size: 48px;
    
}
.subheadings h2 {
    margin: 0 0 50px 0;
}

.header-links {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgb(236, 159, 50);
    gap: 150px;
    background-color: rgb(39, 35, 35);
}

.header-links li {
    font-size: 36px;
    list-style-type: none;
}
.header-links a {
        text-decoration: none;
            color: rgb(236, 159, 50);
}

.first-section {
    background-color: rgba(233, 131, 47, 0.93);
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0;
}

.first-section-header h1{
    margin:  0;
    -webkit-text-stroke: 7px rgb(86, 41, 41);
    paint-order: stroke fill;
    font-weight:1000;
}

.first-section-header h2 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 42px;
    color: rgb(74, 47, 100);
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}

.first-section-body {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: black;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.first-section-body-first-column {
    text-align: end;
}

.first-section-body-second-column {
    text-align: center;
}