.header-banner {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./images/banner-flower.jpg);
}
.title {
    text-align: center;
}
.subheadings {
    display: flex;
    justify-content: center;
    gap: 400px;
    
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 100px;
}